---
import { Icon } from "astro-icon";
import ProfilePicture from "../components/ProfilePicture.jsx";
import "../global.scss";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global></style>
	</head>
	<body>
		<main>
			<!-- Header -->
			<div>
				<nav class="navbar bg-base-300 md:flex">
					<div class="flex-1">
						<a class="btn btn-ghost text-red-600" href="/">
							<h2>Blood Alchemy</h2>
						</a>
					</div>
					<div class="flex-none">
						<ul class="hidden menu p-0 sm:contents">
							<label class="swap swap-rotate btn btn-ghost text-base-content">
								<input
									id="lol"
									type="checkbox"
									data-toggle-theme="dark,light"
									data-act-class="ACTIVECLASS"
								/>
								<div class="swap-on w-5">
									<Icon name="ion:moon" />
								</div>
								<div class="swap-off w-5">
									<Icon pack="ion" name="sunny" />
								</div>
							</label>

							<ProfilePicture client:only />
						</ul>
					</div>
				</nav>
			</div>
		</main>
		<div>
			<slot />
		</div>
	</body>
</html>
<script is:inline>
	// ☝️ This script prevent the FART effect.
	if (localStorage.getItem("theme") === null) {
		if (
			window.matchMedia &&
			window.matchMedia("(prefers-color-scheme: dark)").matches
		) {
			localStorage.theme = "dark";
			document.documentElement.setAttribute("data-theme", "dark");
		} else {
			localStorage.theme = "light";
			document.documentElement.setAttribute("data-theme", "light");
		}
	}

	document.documentElement.setAttribute(
		"data-theme",
		localStorage.getItem("theme")
	);

	if (localStorage.theme === "dark") {
		document.getElementById("lol").checked = "checked";
	}
</script>
<script>
	import { themeChange } from "theme-change";
	themeChange();
</script>
